<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mx.gob.sct.dgaf.services.dao.ICatTipoPersonaDao">
	<resultMap id="estatusMap" type="mx.gob.sct.dgaf.model.TEstatusTramite">
		<id column="ICVEESTATUSTRAMITE" property="idEstatusTramite" />
		<result column="DESCRIPCION" property="descripcion" />
	</resultMap>
	<select id="getEstatus" resultMap="estatusMap">
		SELECT * FROM  ESIAF.VUESTATUSTRAMITE 
	</select>	
	
	<select id="getEstatusById" resultMap="estatusMap"
		parameterType="Integer"> 
		SELECT * FROM  ESIAF.VUESTATUSTRAMITE WHERE ICVEESTATUSTRAMITE = #{idEstatusTramite}
	</select>		
	
</mapper>